<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Angular 1</title>
	<script src="angular.js"></script>
	<script src="app.js"></script>
</head>

<body ng-app='MyFilterApp'>
	<h2>Angular1 expression interpolation part-1 hello2</h2>
	<div ng-controller="MyFilterController">
		Please input the name: <input type='text' ng-model='name' ng-keyup="makeNameUppercase();" />
		<p>
        <br/>
		Name in upper cases-using-service: {{nameUppercase}}
		<br/>
		Name in upper cases-using-expression: {{name | uppercase}}
		<br/>
		<br/>
		hourly rate: {{rate | currency : '$' : 3}}
		<p/>

		</p>
		There is a message for you {{sayMessage()}}
		<br />

		The value of ng-controller attribute is : 

		<span id='checkAttr'>
		</span>


		<div>
			<br/>
			<br/>
			<button id="toggleSize" name="toggleSize" text="toggle size" ng-click="toggleSize();">
				{{size}} Size Ball
			</button>
			<br/>
			<br/>
			<img ng-src="images/pingPong_{{size}}.png"
		</div>

	</div>

</body>

</html>
